.poke-selector {
  position: fixed;
  inset: 0;
  background-color: #f6f7fb99;
}

.poke-selector_modal-content-container {
  width: 800px;
  height: 75%;
  position: relative;
  display: flex;

  .poke-selector_modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .clock-time {
    position: absolute;
    top: 8px;
    left: 26px;
    font-size: 14px;
  }
}

.poke-selector-content {
  padding-top: 8px;
  flex: 1;
}

.poke-details-container {
  overflow: scroll;
  flex: 1;
}
